In [41]:
# import
import pandas as pd

In [42]:
df = pd.read_csv(r'../Datasets/Sales Data.csv')
df.head(2)

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.0,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.0,New York City,0
1,1,295666,LG Washing Machine,1,600.0,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.0,New York City,7

In [43]:

product_data = df[df['Product'] == 'USB-C Charging Cable']

total_quantity = product_data['Quantity Ordered'].sum()

total_sales = product_data['Sales'].sum()
print(f"Total Quantity: {total_quantity}")
print(f"Total Sales : ${total_sales:.2f}")

Total Quantity: 23975
Total Sales : $286501.25

In [44]:
product_sales_summary = df.groupby('Product').agg({
    'Quantity Ordered': 'sum',
    'Sales': 'sum'
}).reset_index()

best_selling_product = product_sales_summary.sort_values('Quantity Ordered', ascending=False).iloc[0]

product_name = best_selling_product['Product']
total_quantity = best_selling_product['Quantity Ordered']
total_sales = best_selling_product['Sales']


print(f"Best-selling Product: {product_name}")
print(f"Total Quantity Sold: {total_quantity}")
print(f"Total Sales: ${total_sales:.2f}")

Best-selling Product: AAA Batteries (4-pack)
Total Quantity Sold: 31017
Total Sales: $92740.83

In [45]:
product_summary = df.groupby('Product').agg({
    'Quantity Ordered': 'sum',
    'Sales': 'sum'
}).sort_values('Quantity Ordered', ascending=False).reset_index()c

print(product_summary)

                       Product  Quantity Ordered       Sales
0       AAA Batteries (4-pack)             31017    92740.83
1        AA Batteries (4-pack)             27635   106118.40
2         USB-C Charging Cable             23975   286501.25
3     Lightning Charging Cable             23217   347094.15
4             Wired Headphones             20557   246478.43
5     Apple Airpods Headphones             15661  2349150.00
6   Bose SoundSport Headphones             13457  1345565.43
7             27in FHD Monitor              7550  1132424.50
8                       iPhone              6849  4794300.00
9       27in 4K Gaming Monitor              6244  2435097.56
10      34in Ultrawide Monitor              6199  2355558.01
11                Google Phone              5532  3319200.00
12               Flatscreen TV              4819  1445700.00
13          Macbook Pro Laptop              4728  8037600.00
14             ThinkPad Laptop              4130  4129958.70
15                20in Monitor              4129   454148.71
16             Vareebadd Phone              2068   827200.00
17          LG Washing Machine               666   399600.00
18                    LG Dryer               646   387600.00