In [18]:
# import
import pandas as pd

In [19]:
df = pd.read_csv(r'../Datasets/Sales Data.csv')
df.head(2)

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.0,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.0,New York City,0
1,1,295666,LG Washing Machine,1,600.0,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.0,New York City,7

In [20]:

product_data = df[df['Product'] == 'USB-C Charging Cable']

total_quantity = product_data['Quantity Ordered'].sum()

total_sales = product_data['Sales'].sum()

print(f"Total Quantity: {total_quantity}")
print(f"Total Sales : ${total_sales:.2f}")

Total Quantity: 23975
Total Sales : $286501.25